.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}
/* p{
  font-size: 18px;
  color: #666666;
  margin-bottom: 20px;
} */

.card{
    max-width: 850px;
    width: 100%;
    height: 550px;
    background: #afafaf;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
    display: flex;
    justify-content: end;
}

.card-left{
  margin-right: 45px;
  margin-bottom: 25px;
}


h1{
  /* text-align: center; */
  font-size: 45px;
  font-weight: bold;
  color: rgb(0, 154, 214);
}
p{
  font-size: 7px;
  color: #666666;
}

.card-left p{
  font-size: 14px;
  color: #666666;
}

.form-group{
  margin: 10px;
}

.form-group .input{
  width: 100%;
  background: rgb(240, 240, 240);
  border: none;
  padding: 13px 7px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 3px 10px -5px;
  border-inline: 2px solid transparent;
  /* margin: 5px auto;
  display: block; */
}

.form-group .input:focus{
  outline: none;
  border-inline: 2px solid #12b1d1;
}

.form-group .input::maz-placholder{
  color: rgb(170, 170, 170);
}

.text-title{
  font-size: 15px;
  font-weight: 600;
}

.btn1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.btn-primary{
  width: 80%;
  height: 40px;
  background: linear-gradient(45deg, rgb(219, 68, 235) 0%, rgb(255, 105, 164) 100%);
  color: white;
  font-weight: 600;
  border: none;
  padding: 8px 16px;
  border-radius: 60px;
  cursor: pointer;
  margin: 5px auto;
  display: block;
}
.btn-primary:hover{
  background: linear-gradient(45deg, rgb(219, 68, 235) 0%, rgb(255, 105, 164) 100%);
  transform: scale(1.01);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* .btn1{

} */

.forgot-password a{
  text-decoration: none;
}
.forgot-password{
  text-align: end;
}

.sign-up a{
  text-decoration: none;
  color: #12b1d1;
}

.sign-up{
  text-align: center;
}
.p{
  text-align: center;
  font-weight: bold;
}
.flex-row{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

/* .span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
} */
.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.card {
  /* max-width: 1200px;  */
  display: flex;
  justify-content: space-between; 
  align-items: center;
} 

.card-image {
  flex: 1;
  padding: 20px;
}

.card-image img {
  width: 100%;
  height: 550px;
  border-radius: 20px;
  margin-right: 90px;
  object-fit: cover;
}
